body{
    background-color: #3A445D
}

li,p{
    color: #FCDEBE
}

h1,h2{
    color: #E3E3C4
}

#onlyh1{
    font-family: 'Montserrat', sans-serif;
}

a:link{
    color:#FEDEBE
}

a:visited{
    color: white;
}

header, footer{
    background-color: #373C58 ;
}

li{
    list-style-type: none;
    display: inline-flex;
    margin-right: 10px;
}

#headingInline{
    display: inline;
}

.headerFlexContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gridItem1{
    grid-column: 1;
}

.image{
    grid-column: 2;
    grid-row: 1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

footer{
    text-align: center;
}
