body{
    background-color: #3A445D
}

li,p{
    color: #FCDEBE
}

h1,h2{
    color: #E3E3C4
}

#onlyh1{
    font-family: 'Montserrat', sans-serif;
}

a:link{
    color:#FEDEBE
}

a:visited{
    color: white;
}

header{
    background-color: #373C58 ;
}

li{
    list-style-type: none;
    display: inline-flex;
    margin-right: 10px;
}

#headingInline{
    display: inline;
}

.headerFlexContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

