body{
    background-color: #3A445D
}

li,p{
    color: #FCDEBE
}

h1,h2{
    color: #E3E3C4
}

#onlyh1{
    font-family: 'Montserrat', sans-serif;
}

a:link{
    color:#FEDEBE
}

a:visited{
    color: white;
}

nav{
    text-align: center;
    background-color: #373C58
}

li{
    list-style-type: none;
}

#headingInline{
    display: inline;
}

